[submodule "dx12track"]
	path = dx12track
	url = git@github.com:jonasmr/dx12track.git
[submodule "src/third_party/raw_pdb"]
	path = src/third_party/raw_pdb
	url = git@github.com:MolecularMatters/raw_pdb.git
